@charset "UTF-8";

section#anuncio img{
    width: 55%;
}
section#anuncio > article > p {
    padding: 1em ;
}
.fraseefeito {
    padding-left: 0.8em;
}

.servicetype {
    display: flex;
    width: 85%;
}
.textservice {
    padding: 1em 2em 2em 1em;
}
.backimgservice {
    width: 200%;
}

#isobrenos > p {
    width: 62%;
}
