@charset "UTF-8";



h1#tituloPrincipal {
    font-size: 2em;
}

section#anuncio img{
    width: 55%;
}
section#anuncio > article > p {
    padding: 1em ;
}
.fraseefeito {
    padding-left: 0.8em;
}

.servicetype {
    display: flex;
    width: 85%;
}
.textservice {
    padding: 1em 2em 0em 1em;
}
.textservice h3 {
    padding-bottom: 0.3em;
}
.backimgservice {
    width: 200%;
}

#isobrenos > p {
    width: 80%;
}
