@charset "UTF-8";

/*Fontes importadas*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'idroid';
    src: url(../fonts/idroid.otf) format(opentype);
}

:root {
    --cor1: #1776CA;
    --cor2: #50A8F0;
    --cor3: #EBDB81;
    --cor4: #EBE8DD;
    --whitespace: #fefaf1;
    --letterign: 'idroid', times, 'times new roman', serif;
    --fontgeral: 'Poppins', 'Open Sans', sans-serif;
    --fontTitulos: 'Roboto', system-ui, sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--fontgeral);
    box-sizing: border-box;
}
h1, h2, h3 {
    font-family: var(--fontTitulos);
    font-weight: bold;
}
body, html {
    height: 100%;
    width: 100%;
    background-color: var(--whitespace);
}

nav {
    display: block;
    padding: 8px;
    backdrop-filter: blur(15px);
    background-color: #217bcad3;
    color: rgb(219, 218, 218);
    width: 100%;
    margin-bottom: 2em;
}
h1#nomeloja {
    padding: 5px;
    padding-left: 10px;
    font-size: 1.5em;
    display: inline-block;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.356);
    font-family: var(--letterign);
    font-weight: normal;
}
#iconmenu {
    font-size: 2em;
    font-weight: bold;
    padding: 5px;
    float: right;
    cursor: pointer;
    margin-right: 10px;
}
menu {
    display: none;
    padding-top: 5px;
}
menu > ul {
    list-style-type: none;
    display: block;
    background-color: rgb(245, 244, 244);
    border-radius: 5px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.329);
    overflow: hidden;
}
menu > ul > li {
    text-align: center;
    border-top: 1px solid black;
}
menu > ul > li > a {
    text-decoration: none;
    width: 100%;
    display: block;
    font: normal bold 1.1em var(--fontgeral);
    color: black;
    padding: 5px;
}
menu > ul > li:hover{
    background-color: var(--cor4);
}

header {
    background: white url(../imgs/backmain1.1-tv.png) center bottom no-repeat fixed;
    background-size: cover;
    color: white;
    height: 55%;
    position: relative;
    
}
h1#tituloPrincipal {
    font: normal bold 1.8em var(--fontTitulos);

    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.452);
}
#mainapresentation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding-top: 3em;
}
header > p {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.301);
    
}

section#anuncio {
    padding: 1em;
}
section#anuncio > article {
    margin: 10px 0px;
}
.fraseefeito {
    font: normal bold 1.7em var(--fontTitulos);
    padding: 1.5em 0.6em 0.5em 0.6em;
    text-align: justify;
}
section#anuncio > article > p {
    text-align: justify;
    line-height: 1.5em;
    padding: 10px;
    padding-bottom: 1em;
}
section#anuncio img{
    width: 90%;
    display: block;
    margin: auto;
    border-radius: 4px;
}

section#servicos {
    background-color: var(--cor2);
    color: white;
    padding: 1em;
    border-radius: 1em 1em 0em 0em;
}
section#servicos > h2 {
    text-align: center;
    text-shadow: 2px 2px 2px rgba(32, 32, 32, 0.507);
    font-size: 2em;
    
}
.servicetype {
    width: 90%;
    margin: 1em auto;
    color: black;
    background-color: var(--whitespace);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 2px 2px rgba(49, 49, 49, 0.452);
}
.backimgservice {
   width: 100%;
   background: #FFCB70 url(../imgs/back-tv.jpg) center center no-repeat scroll;
   background-size: cover;
   height: 15em;
}
.textservice {
    padding: 1em 2em 2em 2em;
}
.textservice h3 {
    text-align: center;
    padding-bottom: 1em;
    font-size: 1.4em;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.137);
}
.textservice p {
    text-align: justify;
}
#itv {
    background-image: url(../imgs/back-tv.jpg);
}
#imicroondas {
    background-image: url(../imgs/back-microondas.jpg);
}
#iairfryer {
    background-image: url(../imgs/back-airfryer.jpg);
}

section#infos {
    padding: 2em;
    background-color: var(--cor1);
    color: white;
    border-radius: 0px 0px 1em 1em;
}
section#infos article {
    padding: 1em;
}
section#infos h2 {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 0.8em;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.301);
}
section#infos p {
    text-align: justify;
    font-size: 1.1em;
}
section#infos > article > div {
    padding-top: 1em;
}
#whatscampo {
    padding: 1em;
    display: block;
    text-align: center;
}
#whatscampo > p { 
    display: inline-block;
    transform: translate(-0px, -12px);
}
#iconzap {
    width: 40px;
    padding-top: 1em;
}


footer {
    background-color: var(--whitespace);
    color: rgb(0, 0, 0);
    padding: 1em 0em 0.5em 0em;
}
#isobrenos {
    padding: 0.8em 2em 0.7em 2em;
    
}
#isobrenos > h2 {
    font-size: 1.1em;
    padding-bottom: 0.3em;
    text-shadow: 1px 2px 2px rgba(100, 96, 96, 0.61);
}
#isobrenos > p {
    text-align: justify;
    font-size: 0.8em;
    width: 90%;
    font-weight: 500;
}
footer > p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    padding-top: 1em;
    display: block;
    border-top: 1px solid #27262579;
    font-weight: 800;
}

